{% load static %}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Musker</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      {% if user.is_authenticated %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'add_meeps' %}">Add meep</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'chat' %}">Chat</a>
        </li>


          <li class="nav-item">
            <a class="nav-link" href="{% url 'direct' user.id %}">
                {% if user.profile.new_messages %}
                    Direct NM
                {% else %}
                    Direct
                {% endif %}
            </a>
         </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'bug_report' %}">Bug Report</a>
        </li>

      {% else %}

      {% endif %}

        {# CATEGORY DROPDOWN BUTTON #}
            <li class="nav-item">
                <div class="dropdown">
                  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Categories
                  </a>

                  <ul class="dropdown-menu">
                      {% for category in categories %}
                    <li><a class="dropdown-item" href="{% url 'category' category.id %}">{{ category.title }}</a></li>
                      {% endfor %}
                  </ul>
                </div>
            </li>

          <li class="nav-item">
                <div class="dropdown">
                  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Testing Link
                  </a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'profile_list' %}">Profile List</a></li>
                    <li><a class="dropdown-item" href="{% url 'track_map' %}">Map</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                  </ul>
                </div>
          </li>

      </ul>

{#    RIGHT SIDE#}

        {% if user.is_authenticated %}

            <ul class="navbar-nav ml-auto">
{#                <li class="nav-item">#}
{#                    <strong><a class="nav-link" href="{% url 'profile' user.id %}">{{ request.user.username }}</a></strong>#}
{#                </li>#}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' user.id %}">
                        {% if user.profile.profile_image %}
                            <img src="{{ user.profile.profile_image.url }}" width=35 height=35 class="rounded-circle" alt="{{ user.profile.user.username }}">
                            <strong>{{ request.user.username }}</strong>
                        {% else %}
                            <img src="{% static 'img/default_avatar.jpg' %}" width=35 height=35 class="rounded-circle" alt="{{ user.profile.user.username }}">
                            <strong>{{ request.user.username }}</strong>
                        {% endif %}
                    </a>
                </li>


{# DROPDOWN BUTTON #}

                <div class="dropdown">
                  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Account
                  </a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'profile' user.id %}">Profile</a></li>


                    <li><a class="dropdown-item" href="{% url 'edit_profile' %}">Edit Profile</a></li>

                      <li>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                      </li>
                  </ul>
                </div>
            </ul>

        {% else %}

            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'registration' %}">Reg</a>
                </li>

            </ul>

        {% endif %}

    </div>
  </div>
</nav>