{% extends 'base.html' %}
{% load static %}

{% block content %}

    <h1>{{ title }}</h1>

    <ul>
    {% if object_list %}
        {% for profile in object_list %}

            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="{% static 'img/default_avatar.jpg' %}" class="img-fluid rounded-start"
                       alt="..."  width="100px">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'profile' profile.user.pk %}">{{ profile.user.username }}</a> </h5>
                    <p class="card-text">@{{ profile.user.username|lower }}</p>
                    <p class="card-text"><small class="text-body-secondary">{{ profile.date_modified }}</small></p>
                  </div>
                </div>
              </div>
            </div>

        {% endfor %}
    {% endif %}
    </ul>

{% endblock %}