{% extends 'base.html' %}
{% load static %}

{% block content %}


    {% if profile %}
        <div class="container text-center">
		    <div class="row">
			    <div class="col-8">

                <h1>{{ profile.user.username }}'s Profile </h1>

                    {% if meeps %}
                        {% for meep in meeps %}

<div class="alert alert-dark" role="alert">
	<div class="container">
		<div class="row">

			<div class="col-1">
                {% if profile.profile_image %}
				<img src="{{ profile.profile_image.url }}" width=50 height=50 class="rounded-circle" alt="{{ profile.user.username }}">

				{% else %}
				<img src="{% static 'img/default_avatar.jpg' %}" width=50 height=50 class="rounded-circle" alt="{{ profile.user.username }}">
				{% endif %}
            </div>

            <div class="col-11">
                {{ meep.body }}<br/>
                <small class="text-muted">
                ({{ meep.created_at}}) By
                @{{ meep.user.username }}
                </small>
            </div>


        </div>
    </div>
</div>


                        {% endfor %}
                    {% endif %}

                </div>


{#            Right side#}
            <div class="col-4">
                <br/><br/><br/>
				{% if profile.profile_image %}
				<img src="{{ profile.profile_image.url }}" class="rounded-circle" width="200" height="200">
				<br/><br/>
				{% endif %}

                        {#        Follow and Unfollow Button#}
        <form method="post">
            {% csrf_token %}
            {% if profile in user.profile.follows.all %}
                <button type="submit" class="btn btn-outline-danger" name="follow" value="unfollow">unfollow</button>
            {% else %}
                <button type="submit" class="btn btn-outline-success" name="follow" value="follow">follow</button>
            {% endif %}
        </form>

        <br/><br/>

        <strong>Follows</strong><br/>
        {% for following in profile.follows.all %}
            <a href="{% url 'profile' following.user.id %}"> @{{ following }}</a><br/>
        {% endfor %}

        <br/><br/>
        <strong>Followed By</strong><br/>
        {% for following in profile.followed_by.all %}
            <a href="{% url 'profile' following.user.id %}"> @{{ following }}</a><br/>
        {% endfor %}

    {% endif %}
    <br/><br/>


            </div>
            </div>
        </div>











{#    {% if profile %}#}
{##}
{#        	<div class="container text-center">#}
{#		<div class="row">#}
{#			<div class="col-8">#}
{##}
{#        <h1>{{ profile.user.username }}'s Profile </h1>#}
{#        {% if profile.profile_image %}#}
{#            <img src="{{ profile.profile_image.url }}" alt="..." height="200" width="200" class="rounded-circle">#}
{#        {% endif %}#}
{##}
{##}
        {#    User Meeps Block#}
{#    {% if meeps %}#}
{#        <h2>{{ profile.user.username }}'s Meeps</h2>#}
{#        {% for meep in meeps %}#}
{##}
{#            <div class="alert alert-dark" role="alert">#}
{#    <div class="container">#}
{#		<div class="row">#}
{#			<div class="col-1">#}
{#				{% if profile.profile_image %}#}
{#				<img src="{{ profile.profile_image.url }}" width=50 height=50 class="rounded-circle" alt="{{ profile.user.username }}">#}
{##}
{#				{% else %}#}
{#				<img src="{% static 'img/default_avatar.jpg' %}" width=50 height=50 class="rounded-circle" alt="{{ profile.user.username }}">#}
{#				{% endif %}#}
{#            </div>#}
{##}
{#        <div class="col-11">#}
{##}
{#                {{ meep }}#}
{#        </div>#}
{#        </div>#}
{#        </div>#}
{#            </div>#}
{##}
{#        {% endfor %}#}
{#    {% else %}#}
{#        No meeps yet =(#}
{#    {% endif %}#}
{#           </div>#}
{##}
{#            </div>#}
{##}
{##}
{##}
{#        Follow and Unfollow Button#}
{##}
{#        <form method="post">#}
{#            {% csrf_token %}#}
{#            {% if profile in user.profile.follows.all %}#}
{#                <button type="submit" class="btn btn-outline-danger" name="follow" value="unfollow">unfollow</button>#}
{#            {% else %}#}
{#                <button type="submit" class="btn btn-outline-success" name="follow" value="follow">follow</button>#}
{#            {% endif %}#}
{##}
{##}
{#        </form>#}
{##}
{#        <br/><br/>#}
{#        <br/><br/>#}
{#        <strong>Follows</strong><br/>#}
{#        {% for following in profile.follows.all %}#}
{#            <a href="{% url 'profile' following.user.id %}"> @{{ following }}</a><br/>#}
{#        {% endfor %}#}
{##}
{#        <br/><br/>#}
{#        <strong>Followed By</strong><br/>#}
{#        {% for following in profile.followed_by.all %}#}
{#            <a href="{% url 'profile' following.user.id %}"> @{{ following }}</a><br/>#}
{#        {% endfor %}#}
{##}
{#    {% endif %}#}
{#    <br/><br/>#}




{% endblock %}