{% extends 'base.html' %}

{% block content %}

    {% if title %}
        <h1>{{ title }}</h1>
    {% else %}
        <h1>Musker</h1>
    {% endif %}
     <br/> <br/>

    <form method="post">
        {% csrf_token %}

        <input class="form-control" type="text" placeholder="Default input" aria-label="default input example" name="search">
            <br/>
        <button type="submit" class="btn btn-outline-success">Search</button>
    </form>

    <br/> <br/>

    {% if search_value %}
        You search: {{ search_value }}
        <br/>
    {% endif %}

    {% if searched %}
        {% for user in searched %}
            <a href="{% url 'profile' user.id %}">{{ user }}</a> <br/>
        {% endfor %}

    {% else %}
        Nothing =(
    {% endif %}


{% endblock %}