{% extends 'base.html' %}

{% block content %}

    {% if title %}
        <h1>{{ title }}</h1>
    {% else %}
        <h1>Musker</h1>
    {% endif %}


{#<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A8115b4801e192f0f310d90a031709042cfdabd93a849e93200bc047b9683e03f&amp;#}
{#source=constructor" width="504" height="327" frameborder="0"></iframe>#}


    <iframe src={{ link }} width="504" height="327" frameborder="0"></iframe>

    <br/>


    <a href="https://yandex.ru/maps/?um=constructor%3A8115b4801e192f0f310d90a031709042cfdabd93a849e93200bc047b9683e03f&amp;source=constructorStatic" target="_blank"><img src="https://api-maps.yandex.ru/services/constructor/1.0/static/?um=constructor%3A8115b4801e192f0f310d90a031709042cfdabd93a849e93200bc047b9683e03f&amp;width=504&amp;height=327&amp;lang=ru_RU" alt="" style="border: 0;" /></a>


{% endblock %}